.message-modal .modal-dialog{
    max-width: 450px;
}

.discussion {
    cursor: pointer;
}

.discussion:hover {
    background-color: rgba(115, 112, 112, 0.78);
    /*position: absolute;*/
    width: 140%;
}

.you .infos, .me .infos {
    display: flex;
}
.you .infos {
    flex-direction: row-reverse;
}
.me .infos {
    flex-direction: row;
}
.info-details .chat-message-item {
    min-width: 100%;
}
#send-message {
    cursor: pointer;
}